@page
@model DisciplinaryCase.Pages.StudentSection.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>لیست دانش آموزان</h2>
<br />

    <button asp-page="Create" type="button" class="btn btn-warning">اضافه کردن دانش آموز</button>
<br />
<br />

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                نام     
            </th>
            <th>
                نام خانوادگی
            </th>
            <th>
                کد ملی
            </th>
            <th>
                کلاس
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeliCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">اطلاعات</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
