@page
@model DisciplinaryCase.Pages.ClassroomSection.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>لیست کلاس ها</h1>

<p>
    <a asp-page="Create">ساخت کلاس</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Classroom[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Classroom) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">اطاعات</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
