@page
@model DisciplinaryCase.Pages.DisciplineSection.IndexModel

@{
    ViewData["Title"] = "موارد انظباطی";
}


<p>
    <a asp-page="Create">ثبت مورد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Discipline[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discipline[0].DisciplineCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discipline[0].Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Discipline) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisciplineCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">اطلاعات</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
