@page
@model DisciplinaryCase.Pages.DisciplineSection.IndexModel

@{
    ViewData["Title"] = "موارد انظباطی";
}

<h2>مورد انظباطی</h2>
<br />
<br />
     <button asp-page="Create" type="button" class="btn btn-warning">ثبت مورد</button>
<br />
<br />

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                توضیحات
            </th>
            <th>
                دسته‌بندی
            </th>
            <th>
                دانش آموز
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Discipline) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisciplineCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">اطلاعات</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
